
@{
    Layout = null;
}

<link href="c:\users\monster\desktop\multishop\rapidapi\multishop.rapidapiwebui\wwwroot\lib\bootstrap\dist\css\bootstrap.min.css" rel="stylesheet" />
<div class="container">
    <br /><br />
    <h3 class="alert alert-success">Dolar Alış:@ViewBag.exchangeRate- Dolar Satış: @ViewBag.previous_close </h3>
</div>