@model CreateFeatureSliderDto
@{
    ViewData["Title"] = "CreateFeatureSlider";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<section class="content container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="chart-box">
                <h4>Featured Slider Image Add Page</h4>
                <br />
                <div class="bs-example" data-example-id="bordered-table">

                    <form method="post">
                        <label>Image Title</label>
                        <input type="text" class="form-control" asp-for="Title" />
                        <br />
                        <label>Image Description</label>
                        <input type="text" class="form-control" asp-for="Description" />
                        <br />
                        <label>Image Url</label>
                        <input type="text" class="form-control" asp-for="ImageUrl" />
                        <br />
                        <button class="btn btn-primary">Add Featured Slider Image </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>


